<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Edit Employee</h5>
            <button type="button" class="close" aria-label="Cerrar" (click)="bsModalRef.hide();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
       <form [formGroup]="employeeEditform" (ngSubmit)="onSubmit()">
          <div class="modal-body">
              
              <div class="col-md-12 form-content">
            
                    <div class="col-sm-12 col-12" >
                      <div class="form-group">
                        <label for="name" class="label">Employee Name</label>
                        <input type="text" 
                          id="name" 
                          name="name" 
                          placeholder="Name" 
                          formControlName="empName"
                          class="form-control">
                        <span *ngIf="employeeEditform.controls['empName'].errors?.required && employeeEditform.controls['empName'].touched" style="color:red"> required!</span>
              
              </div>
                    </div>
                    <div class="col-sm-12 col-12" >
                          <div class="form-group">
                            <label for="address" class="label">Employee Address</label>
                            <input type="text" 
                              id="address" 
                              name="address" 
                              placeholder="address" 
                              formControlName="empAddress"
                              class="form-control">
                          
                              <span *ngIf="employeeEditform.controls['empAddress'].errors?.required && employeeEditform.controls['empAddress'].touched" style="color:red"> required!</span>
                      
                          </div>
                    </div>
                    <div class="col-sm-12 col-12" >
                        <div class="form-group">
                          <label for="email" class="label">Employee Email</label>
                          <input type="text" 
                            id="email" 
                            name="email" 
                            placeholder="Email" 
                            formControlName="empEmail"
                            class="form-control">
                          
                              <span *ngIf="employeeEditform.controls['empEmail'].errors?.required && employeeEditform.controls['empEmail'].touched" style="color:red"> required!</span>
                              <span *ngIf="employeeEditform.controls['empEmail'].errors?.email && employeeEditform.controls['empEmail'].touched" style="color:red"> Email must be in format example@test.com!</span>
                          
                        </div>
              
                    </div>
                    <div class="col-sm-12 col-12">
                              <div class="form-group">
                                <label for="phone" class="label">Employee Phone</label>
                                <input type="text" 
                                  id="phone" 
                                  name="phone" 
                                  placeholder="Phone" 
                                  formControlName="empPhone"
                                  class="form-control"
                                  onKeyPress="if(this.value.length==11) return false;">
                                
                              <span *ngIf="employeeEditform.controls['empPhone'].errors?.required && employeeEditform.controls['empPhone'].touched" style="color:red"> required!</span> 
                              <span *ngIf="employeeEditform.controls['empPhone'].errors?.pattern && employeeEditform.controls['empPhone'].touched" style="color:red">phone number must be start with  011,012 or 010</span> 
                              <span *ngIf="employeeEditform.controls['empPhone'].errors?.minlength && employeeEditform.controls['empPhone'].touched" style="color:red"> phone number must be only 11 number</span> 
                             
                              
                              </div>
                    
                    </div>
                    
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide();">Cancel</button>
          
            <button type="submit" class="btn btn-primary btn-lg btn-save"  style="position: relative;" [disabled]= "!employeeEditform.valid || postdata">save
      
              <div class="loadingio-spinner-spin-tg278z7z83" [ngClass]="postdata? 'block' : 'none'" >
                <div class="ldio-tw3lft2h3a">
                <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                </div>
              </div>
            </button>
          </div>
      </form> 
    </div>
  </div>
    
    
    
     