

<div class="modal-body">
    <h4>Add Item</h4>
    <form [formGroup]="employeeAddform" (ngSubmit)="saveToList()">
        <div class="col-md-6">
            <label>Number of Items : </label> 
        </div>
        <div class="col-md-6">
            <label>Employed Name</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" formControlName="name">
            <button class="button mt-1" type="submit">Save</button>
        </div>

        <div class="col-sm-6 col-12" >
            <div class="form-group">
              <label for="name" class="label">Employee Name</label>
              <input type="text" 
                id="name" 
                name="name" 
                placeholder="Name" 
                formControlName="empName"
                class="form-control">
              <!-- <span *ngIf="employeeAddform.controls['empName'].errors?.required && employeeAddform.controls['empName'].touched" style="color:red"> required!</span>
             
 -->
            </div>
        </div>
            <div class="col-sm-6 col-12" >
                <div class="form-group">
                  <label for="address" class="label">Employee Address</label>
                  <input type="text" 
                    id="address" 
                    name="address" 
                    placeholder="address" 
                    formControlName="empAddess"
                    class="form-control">
                  <!-- 
                    <span *ngIf="employeeAddform.controls['empAddess'].errors?.required && employeeAddform.controls['empAddess'].touched" style="color:red"> required!</span>
             
     -->
                </div>
            </div>
                <div class="col-sm-6 col-12" >
                    <div class="form-group">
                      <label for="email" class="label">Employee Email</label>
                      <input type="text" 
                        id="email" 
                        name="email" 
                        placeholder="Email" 
                        formControlName="empEmail"
                        class="form-control">
                      <!-- 
                          <span *ngIf="employeeAddform.controls['empEmail'].errors?.required && employeeAddform.controls['empEmail'].touched" style="color:red"> required!</span>
                           <span *ngIf="employeeAddform.controls['empEmail'].errors?.email && employeeAddform.controls['empEmail'].touched" style="color:red"> required!</span>
                      -->
                    </div>
          
              </div>
              <div class="col-sm-6 col-12" >
                <div class="form-group">
                  <label for="phone" class="label">Employee Phone</label>
                  <input type="text" 
                    id="phone" 
                    name="phone" 
                    placeholder="Phone" 
                    formControlName="empPhone"
                    class="form-control">
                  <!-- 
                 <span *ngIf="employeeAddform.controls['empPhone'].errors?.required && employeeAddform.controls['empPhone'].touched" style="color:red"> required!</span> 
                <span *ngIf="employeeAddform.controls['empPhone'].errors?.pattern && employeeForm.controls['empPhone'].touched" style="color:red"> required</span> 
                <span *ngIf="employeeAddform.controls['empPhone'].errors?.minlength && employeeForm.controls['empPhone'].touched" style="color:red"> required</span> 
               
                -->
                </div>
      
          </div>
    </form>
</div>


 